In [ ]:
import os 
import pandas as pd

In [2]:
# Change directory to yb2audio directory
os.chdir('..')

In [3]:
# Print current working directory
os.getcwd()

'c:\\Main Workspace\\Cohort8-Ransom-Kuti-Ladipo\\yb2audio'

In [ ]:
metadata_path = ""
'data/raw/iroyinspeech/train.tsv'
'data/raw/iroyinspeech/invalidated.tsv'
'data/raw/iroyinspeech/clip_durations.tsv'

In [8]:
# Read in the metadata
metadata_df = pd.read_csv(metadata_path, delimiter= '\t')
metadata_df.head()

NameError: name 'dev_df' is not defined

In [4]:
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862 entries, 0 to 861
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   client_id   862 non-null    object
 1   path        862 non-null    object
 2   sentence    862 non-null    object
 3   up_votes    862 non-null    int64
 4   down_votes  862 non-null    int64
 5   age         786 non-null    object
 6   gender      786 non-null    object
 7   accents     106 non-null    object
 8   variant     0 non-null      float64
 9   locale      862 non-null    object
 10  segment     0 non-null      float64
dtypes: float64(2), int64(2), object(7)
memory usage: 74.2+ KB

In [5]:
metadata_df.shape

(862, 11)

In [6]:
metadata_df['locale'].unique()

array(['yo'], dtype=object)

In [7]:
train_df = pd.read_csv('data/raw/iroyinspeech/train.tsv', delimiter='\t')
train_df.head()

,client_id,path,sentence,up_votes,down_votes,age,gender,accents,variant,locale,segment
0,7bc2ed85985f28af0f62be69494e94d712557f6d7893a0...,common_voice_yo_36840058.mp3,Ọmọ ẹgbẹ́ òkùnkùn dèrò àtìmọ́lé torí nílùú Ìbà...,2,0,NaN,NaN,NaN,NaN,yo,NaN
1,7bc2ed85985f28af0f62be69494e94d712557f6d7893a0...,common_voice_yo_36840059.mp3,Ìyàwó àwọn ọlọ́pàá tó kú lásìkò ìwọ́de tó kọ...,2,0,NaN,NaN,NaN,NaN,yo,NaN
2,7bc2ed85985f28af0f62be69494e94d712557f6d7893a0...,common_voice_yo_36840060.mp3,Nítori ọrọ táa sọ lọ́jọ́sí ni Túndé yoo f...,2,0,NaN,NaN,NaN,NaN,yo,NaN
3,7bc2ed85985f28af0f62be69494e94d712557f6d7893a0...,common_voice_yo_36840061.mp3,Ilẹ̀ mímìtìtì ní ìlú ṣakí ti sọ àwọn olug...,2,0,NaN,NaN,NaN,NaN,yo,NaN
4,7bc2ed85985f28af0f62be69494e94d712557f6d7893a0...,common_voice_yo_36840342.mp3,"Ìgbòho ní Aláàfin, Ọ̀ọ̀nì, Olúbàdàn tì òun lẹ́...",2,0,NaN,NaN,NaN,NaN,yo,NaN

In [8]:
train_df.shape

(1209, 11)

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   client_id   1209 non-null   object
 1   path        1209 non-null   object
 2   sentence    1209 non-null   object
 3   up_votes    1209 non-null   int64
 4   down_votes  1209 non-null   int64
 5   age         812 non-null    object
 6   gender      812 non-null    object
 7   accents     0 non-null      float64
 8   variant     0 non-null      float64
 9   locale      1209 non-null   object
 10  segment     0 non-null      float64
dtypes: float64(3), int64(2), object(6)
memory usage: 104.0+ KB

In [10]:
clip_duration = pd.read_csv('data/raw/iroyinspeech/clip_durations.tsv', delimiter= '\t')
clip_duration.head()

                           clip  duration[ms]
0  common_voice_yo_36943164.mp3          6228
1  common_voice_yo_36917660.mp3          5076
2  common_voice_yo_36886387.mp3          5256
3  common_voice_yo_37036958.mp3          4788
4  common_voice_yo_36969516.mp3          5256

In [11]:
invaildated_df = pd.read_csv('data/raw/iroyinspeech/invalidated.tsv', delimiter= '\t')
invaildated_df.head()

,client_id,path,sentence,up_votes,down_votes,age,gender,accents,variant,locale,segment
0,eb17abb948d9d4e5a45de18b277b543139e5e3628fb0b4...,common_voice_yo_36518281.mp3,Àbúrò gbajúgbajà oníṣòwò yẹn ló ti kéde ì...,2,4,thirties,male,native speaker,NaN,yo,NaN
1,7b9e846c3b7876fef898630d74244b0a0df5d40b2b8a28...,common_voice_yo_36520588.mp3,Gbogbo Ọba Yorùbá ló ń bọ òrìṣà.,0,2,twenties,male,NaN,NaN,yo,NaN
2,7b9e846c3b7876fef898630d74244b0a0df5d40b2b8a28...,common_voice_yo_36520639.mp3,Yàrá ìforúkọsílẹ̀ olùdìbò ni a ti ṣí síta l...,0,2,twenties,male,NaN,NaN,yo,NaN
3,7b9e846c3b7876fef898630d74244b0a0df5d40b2b8a28...,common_voice_yo_36520640.mp3,Ọlọ́pàá Èkó ti mú ọlọ́pàá tó yìnbọn pa arábì...,0,2,twenties,male,NaN,NaN,yo,NaN
4,7b9e846c3b7876fef898630d74244b0a0df5d40b2b8a28...,common_voice_yo_36520713.mp3,"Àwa kìí ṣe aláàárù, a sì kìí ṣe abó...",0,2,twenties,male,NaN,NaN,yo,NaN